li.activity.programcourse span.inplaceeditable a.quickeditlink {
  display: none;
}
#page-mod-programcourse-mod .popover {
  max-width: 350px;
}
#fitem_id_courseid div.dropdown {
  min-width: 450px !important;
}
#fitem_id_courseid div.dropdown-menu {
  max-height: 300px !important;
}
#fitem_id_courseid div.dropdown-menu .inner.show {
  max-height: 240px !important;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0;
}
#fitem_id_courseid div.dropdown-menu .dropdown-item {
  background: none;
  max-width: 400px;
}
#fitem_id_courseid div.dropdown-menu .dropdown-item span {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}
